#__ga_grayLayout__ {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1000000;
	display: none;
	cursor: crosshair;
}

#__ga_grayLayout__ .scan {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0.5;
}

#__ga_captureBox__ {
	position: absolute;
	border: white 1px dashed;
	display: none;
}