@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url(DroidSansMono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-webkit-keyframes twinkling{
    0%{
        color:#DD4B39;
    }
    100%{
        color:#EEA59C;
    }
}

@-webkit-keyframes fadeshow{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@-webkit-keyframes fadehide{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@-webkit-keyframes fadein{
    0%{
        opacity:0;
        top:110px;
    }
    100%{
        opacity:1;
        top:10px;
    }
}

@-webkit-keyframes fadeout{
    0%{
        opacity:1;
        top:10px;
    }
    100%{
        opacity:0;
        top:110px;
    }
}

@-webkit-keyframes slidein{
    0%{
        opacity:0;
        left:-55px;
    }
    100%{
        opacity:1;
        left:0;
    }
}

@-webkit-keyframes slideout{
    0%{
        opacity:1;
        left:0;
    }
    100%{
        opacity:0;
        left:-55px;
    }
}

@-webkit-keyframes qrfadein{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@-webkit-keyframes qrfadeout{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 320px;
    height: 480px;
    overflow: hidden;
    font-family: arial, 'Microsoft YaHei';
    cursor: default;
    -webkit-user-select: none;
    transform-origin: left top;
}

#header,
#menuHead {
    height: 38px;
    line-height: 38px;
    position: relative;
    text-align: center;
    font-size: 16px;
    border-bottom: #CCC 1px solid;
}

#notification {
    position: absolute;
    left: 100px;
    top: -1000px;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: 20px;
    border-radius: 2px;
}

#notification.fadein {
    top: 190px;
    -webkit-animation: fadeshow 0.2s 1 ease-out;
}

#notification.fadeout {
    top: 190px;
    -webkit-animation: fadehide 0.2s 1 ease-in;
}

#codes {
    height: 442px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #EEE;
    padding-right:10px;
}

#codes:hover {
    padding-right: 0;
    overflow-y: scroll;
}

#codes::-webkit-scrollbar {
    width: 10px;
    background: #EEE;
}

#codes::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border: 2px solid #EEE;
    border-radius: 5px;
}

#codeClipboard {
    position: absolute;
    top: -1000px;
}

.codeBox {
    margin: 10px;
    margin-right: 0;
    padding: 10px;
    border: #CCC 1px solid;
    background: white;
    border-radius: 2px;
    position: relative;
}

.codeBox[unencrypted="true"] .warning {
    position: absolute;
    height: 0;
    line-height: 12px;
    font-size: 12px;
    padding: 0 10px;
    margin: 0 4px;
    width: 250px;
    bottom: 4px;
    left: 0;
    background: #EC6959;
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    -webkit-transition: height 0.2s;
}

#codes:not(.edit) .codeBox[unencrypted="true"]:hover .warning {
    height: 24px;
}

.codeBox[dropOver="true"] {
    border: gray 1px dashed;
}

.issuer {
    font-size: 12px;
    color: black;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.code {
    font-size: 36px;
    color: #08C;
    width: 80%;
    -webkit-user-select: text;
    font-family: 'Droid Sans Mono';
    cursor: pointer;
}

#codes.edit .code {
    color: #CCC!important;
    -webkit-user-select: none;
    cursor: default;
}

#codes.edit .account,
#codes.edit .issuer {
    display: none;
}

.accountEdit,
.issuerEdit {
    display: none;
}

.accountEdit input,
.issuerEdit input {
    border: none;
    height: 14px;
    width: 70%;
    font-size: 12px;
    font-family: arial, 'Microsoft YaHei';
    outline: none;
    background: #eee;
}

#codes.edit .accountEdit,
#codes.edit .issuerEdit {
    display: block;
}

#codes.timeout .code:not(.hotp) {
    -webkit-animation: twinkling 1s infinite ease-in-out;
}

.hotp {
    color: #555;
    cursor: default;
}

.hotp[hasCode="true"] {
    color: #08C;
    cursor: pointer;
}

.movehandle {
    height: 98px;
    line-height: 98px;
    right: 10px;
    top: 0;
    position: absolute;
    font-size: 24px;
    color: #CCC;
    cursor: move;
    display: none;
}

#codes.edit .movehandle {
    display: block;
}

.showqr {
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 20px;
    color: #CCC;
    cursor: pointer;
    opacity: 0;
}

.showqr:hover {
    opacity: 1;
}

#codes.edit .showqr,
.showqr.hidden {
    display: none;
}

.account {
    font-size: 12px;
    color: gray;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#add,
#add_qr,
#add_secret,
#add_button,
#security_save,
#passphrase_ok,
#message_close,
#exportButton,
#resize_save {
    margin: 10px;
    padding: 20px;
    border: #CCC 1px solid;
    background: white;
    border-radius: 2px;
    position: relative;
    text-align: center;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

#add {
    margin-right: 0;
}

#message_close,
#add_button,
#exportButton,
#security_save,
#passphrase_ok,
#resize_save {
    font-size: 12px;
    margin: 20px 100px;
    padding: 10px;
    cursor: pointer;
}

#codes #add {
    font-size: 16px;
    line-height: 56px;
    display: none;
}

#codes.edit #add {
    display: block;
}

#codes .deleteAction {
    font-size: 20px;
    color: #DD4B39;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10;
    display: none;
}

#codes.edit .deleteAction {
    display: block;
    cursor: pointer;
}

#infoAction {
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

#infoAction.hidden {
    display: none;
}

#editAction {
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.counter {
    color: #888;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.counter:not([disabled="true"]):hover {
    color: #000;
}

.counter[disabled="true"] {
    color: #CCC;
    cursor: default;
}

.sector,
.counter {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#codes.edit .sector,
#codes.edit .counter {
    display: none;
}

#menu {
    width: 320px;
    height: 480px;
    position: absolute;
    left: -1000px;
    background: #EEE;
    top: 0;
}

#menu.slidein {
    left: 0;
    -webkit-animation: slidein 0.2s 1 ease-out;
}

#menu.slideout {
    left: -55px;
    -webkit-animation: slideout 0.2s 1 ease-in;
}

#menuHead {
    background: #FFF;
}

#menu .menuList {
    margin: 10px;
    border: #CCC 1px solid;
    border-radius: 2px;
    background: #FFF;
}

#menu .menuList p {
    position: relative;
    border-bottom: #CCC 1px solid;
    padding: 10px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

#menu .menuList p:hover {
    background: #F4FCFF;
    color: black;
}

#menu .menuList p:hover:after {
    color: black;
}

#menu .menuList p:last-child {
    border-bottom: none;
}

#menu .menuList p a {
    color: gray;
    text-decoration: none;
    display: line-block;
}

#menu .menuList p i.fa {
    font-size: 14px;
    display: line-block;
    width: 30px;
}

#version {
    text-align: center;
    color: gray;
    margin: 10px;
}

#info,
#addAccount,
#security,
#passphrase,
#export,
#resize {
    position: absolute;
    height: 460px;
    width: 300px;
    padding: 10px;
    border: gray;
    background: white;
    left: 10px;
    top: -1000px;
    box-shadow: 1px 1px 3px gray;
    z-index: 100;
}

#info.fadein,
#addAccount.fadein,
#security.fadein,
#passphrase.fadein,
#export.fadein,
#resize.fadein {
    top: 10px;
    -webkit-animation: fadein 0.2s 1 ease-out;
}

#info.fadeout,
#addAccount.fadeout,
#security.fadeout,
#passphrase.fadeout,
#export.fadeout,
#resize.fadeout {
    top: 110px;
    -webkit-animation: fadeout 0.2s 1 ease-in;
}

#infoClose,
#addAccountClose,
#securityClose,
#passphraseClose,
#exportClose,
#resizeClose {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

#menuClose {
    position: absolute;
    height: 38px;
    line-height: 38px;
    left: 20px;
    font-size: 16px;
    color: gray;
    bottom: 0;
    cursor: pointer;
}

#menuClose:hover,
#exportButton:hover,
#message_close:hover,
#add_button:hover,
#add_secret:hover,
#add_qr:hover,
#editAction:hover,
#infoAction:hover,
#codes #add:hover,
#infoClose:hover,
#addAccountClose:hover,
#securityClose:hover,
#passphraseClose:hover,
#security_save:hover,
#passphrase_ok:hover,
#export:hover,
#resizeClose:hover,
#resize_save:hover {
    color: black;
}

#infoContent,
#addAccountContent,
#exportContent {
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

#exportData {
    height: 330px;
    width: 100%;
    word-break: break-all;
    resize: none;
    outline: none;
}

#infoContent p {
    font-size: 12px;
    margin-bottom: 20px;
}

#infoContent a {
    color: #4183c4;
}

#qr {
    width: 100%;
    height: 100%;
    top: -1000px;
    left: 0;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
}

#qr canvas {
    display: none;
}

#qr.qrfadein {
    top: 0;
    -webkit-animation: qrfadein 0.2s 1 ease-out;
}

#qr.qrfadeout {
    top: 0;
    -webkit-animation: qrfadeout 0.2s 1 ease-in;
}

#secret_box {
    display: none;
}

#secret_box input,
#security input,
#passphrase input {
    display: block;
    margin: 0 10px 10px 10px;
    padding: 10px;
    width: 260px;
    border: #CCC 1px solid;
    background: white;
    outline: none;
}

.checkbox_group input[type="checkbox"],
.radio_group input[type="radio"] {
    display: inline-block !important;
    width: auto !important;
}

.checkbox_group label,
.radio_group label {
    display: inline-block !important;
    margin-left: 0 !important;
}

#secret_box label,
#security label,
#passphrase label,
#security_warning,
#passphrase_info {
    display: block;
    margin: 10px 0 0 10px;
}

#security_warning,
#passphrase_info {
    color: gray;
}

#resize_list_label,
#resize_list {
    margin: 20px;
    font-size: 16px;
}

#message {
    position: absolute;
    width: 300px;
    padding: 10px;
    border: gray;
    background: white;
    left: 10px;
    top: 150px;
    box-shadow: 1px 1px 3px gray;
    display: none;
    z-index: 1000;
}