language: node_js
node_js:
  - "node"
before_script:
  - "npm install -g typescript"
  - "npm install -g gts"
  - "npm install -g addons-linter"
script:
  - "gts check"
  - "npm run firefox"
  - "addons-linter firefox"
