language: node_js
node_js:
  - "node"
stages:
  - test
  - deploy
jobs:
  include:
    - stage: test
      script: "gts check"
    - stage: test
      script: "npm i -g lintspaces-cli && lintspaces -nt -d 'spaces' -i 'js-comments' src/* view/* manifest-*.json css/popup.css css/import.css"
    - stage: test
      script: "npm install --only=production addons-linter && npm run firefox && addons-linter firefox"
    - stage: test
      script: "npm run chrome"
    - stage: deploy
      # release tagging
      script: bash ci/tag.sh
      if: branch = release
    - stage: deploy
      # new i18n strings
      script: bash ci/i18n.sh
      if: branch = dev