<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="../css/font-awesome.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="../css/popup.css" type="text/css" rel="stylesheet" charset="utf-8">
    <script src="../js/vue.min.js"></script>
    <script src="../js/vue-dragula.js"></script>
    <script src="../js/md5.js"></script>
    <script src="../js/aes.js"></script>
    <script src="../js/sha.js"></script>
    <script src="../js/qrcode.js"></script>
    <script src="../build/models/encryption.js"></script>
    <script src="../build/models/interface.js"></script>
    <script src="../build/models/key-utilities.js"></script>
    <script src="../build/models/otp.js"></script>
    <script src="../build/models/storage.js"></script>
    <script src="../build/models/backup.js"></script>
    <script src="../build/models/credentials.js"></script>
</head>
<body>
<div id="authenticator" v-cloak v-bind:accessibility="useHighContrast">
    <div id="header">
        <span>{{ i18n.extName }}</span>
        <div v-show="!isPopup()">
            <div id="infoAction" title="{{ i18n.settings }}" v-on:click="showMenu()" v-show="!class.edit"><i class="fa fa-cog"></i></div>
            <div id="lock" title="{{ i18n.lock }}" v-on:click="lock()" v-show="!class.edit && encryption.getEncryptionStatus()"><i class="fa fa-lock"></i></div>
            <div id="dropbox" v-bind:style="{left: encryption.getEncryptionStatus() ? '68px' : '45px'}" v-show="(dropboxToken !== '' || driveToken !== '') && !class.edit"><i class="fa fa-refresh"></i></div>
            <div id="scan" title="{{ i18n.add_qr }}" v-show="!class.edit" v-on:click="beginCapture()"></div>
            <div id="editAction" title="{{ i18n.edit }}" v-bind:edit="class.edit" v-on:click="editEntry()"><i v-bind:class="{'fa': true, 'fa-pencil': !class.edit, 'fa-check': class.edit}"></i></div>
        </div>
    </div>
    <div id="codes" v-bind:class="{'timeout': class.timeout && !class.edit, 'edit': class.edit, 'filter': shouldFilter && filter, 'search': showSearch}">
        <div id="filter" v-on:click="filter = false">{{ i18n.show_all_entries }}</div>
        <div id="search">
          <input id="searchInput" v-on:keydown="searchUpdate()" v-model="searchText" placeholder="{{ i18n.search }}" type="text">
          <div id="searchHint" v-if="typeof searchText !== 'string'">
            <div></div>
            <div id="searchHintBorder">/</div>
            <div></div>
          </div>
        </div>
        <div v-dragula="entries">
            <!-- ENTRIES -->
            <div class="entry" v-for="entry in entries" v-bind:filtered="!isMatchedEntry(entry)" v-bind:notSearched="!isSearchedEntry(entry)">
                <div class="deleteAction" v-on:click="removeEntry(entry)"><i class="fa fa-minus-circle"></i></div>
                <div class="sector" v-if="entry.type !== OTPType.hotp && entry.type !== OTPType.hhex" v-show="sectorStart">
                    <svg viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="4" v-bind:style="{animationDuration: entry.period + 's', animationDelay: (sectorOffset % entry.period) + 's'}"/>
                    </svg>
                </div>
                <div v-bind:class="{'counter': true, 'disabled': class.hotpDiabled}" v-if="entry.type === OTPType.hotp || entry.type === OTPType.hhex" v-on:click="nextCode(entry)"><i class="fa fa-repeat"></i></div>
                <div class="issuer">{{ entry.issuer.split('::')[0] }}</div>
                <div class="issuerEdit">
                    <input class="issuerEditBox" placeholder="{{ i18n.issuer }}" type="text" v-model="entry.issuer" v-on:change="entry.update(encryption)">
                </div>
                <div v-bind:class="{'code': true, 'hotp': entry.type === OTPType.hotp || entry.type === OTPType.hhex, 'no-copy': noCopy(entry.code), 'timeout': entry.period - second % entry.period < 5 }" v-on:click="copyCodeAndTTS(entry)" v-html="class.edit ? showBulls(entry.code) : entry.code"></div>
                <div class="account">{{ entry.account }}</div>
                <div class="accountEdit">
                    <input class="accountEditBox" placeholder="{{ i18n.accountName }}" type="text" v-model="entry.account" v-on:change="entry.update(encryption)">
                </div>
                <div class="showqr" v-if="shouldShowQrIcon(entry)" v-on:click="showQr(entry)"><i class="fa fa-qrcode"></i></div>
                <div class="movehandle"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="add" v-on:click="showInfo('account')"><i class="fa fa-plus"></i></div>
    </div>

    <!-- MENU -->
    <div id="menu" v-bind:class="{'slidein': class.slidein, 'slideout': class.slideout}">
        <div id="menuHead">
            <span id="menuName">{{ i18n.settings }}</span>
            <div id="menuClose" v-on:click="closeMenu()"><i class="fa fa-arrow-left"></i></div>
        </div>
        <div id="menuBody">
            <div class="menuList">
                <p v-bind:title="i18n.about" id="menuAbout" v-on:click="showInfo('about')"><i class="fa fa-info-circle"></i>{{ i18n.about }}</p>
            </div>
            <div class="menuList">
                <p v-bind:title="i18n.export_import" id="menuExImport" v-on:click="showInfo('export')"><i class="fa fa-exchange"></i>{{ i18n.export_import }}</p>
                <p v-bind:title="i18n.storage_menu" id="menuStorage" v-on:click="showInfo('storage')" v-show="!isEdge()"><i class="fa fa-database"></i>{{ i18n.storage_menu }}</p>
                <p v-bind:title="i18n.security" id="menuSecurity" v-on:click="showInfo('security')"><i class="fa fa-lock"></i>{{ i18n.security }}</p>
                <p v-bind:title="i18n.sync_clock" id="menuSyncTime" v-on:click="syncClock()"><i class="fa fa-refresh"></i>{{ i18n.sync_clock }}</p>
                <p v-bind:title="i18n.resize_popup_page" id="menuResize" v-on:click="showInfo('resize')"><i class="fa fa-expand"></i>{{ i18n.resize_popup_page }}</p>
            </div>
                <div class="menuList">
                <p v-bind:title="i18n.feedback" v-on:click="openHelp"><i class="fa fa-comments-o"></i>{{ i18n.feedback }}</p>
                <p v-bind:title="i18n.translate" v-on:click="openLink('https://crwd.in/authenticator-firefox')"><i class="fa fa-globe"></i>{{ i18n.translate }}</p>
                <p v-bind:title="i18n.source" v-on:click="openLink('https://github.com/Authenticator-Extension/Authenticator')"><i class="fa fa-code"></i>{{ i18n.source }}</p>
            </div>
            <div id="version">Version {{ version }}</div>
        </div>
    </div>

    <!-- INFO -->
    <div id="info" v-bind:class="{'fadein': class.fadein, 'fadeout': class.fadeout}">
        <div id="infoClose" v-if="info !== 'passphrase'" v-on:click="closeInfo()"><i class="fa fa-times-circle"></i></div>
        <div id="infoContent">
            <!-- ABOUT -->
            <div v-show="info === 'about'">
                <p><strong>Authenticator</strong> &copy; 2018 <a target='_blank' href='https://github.com/Authenticator-Extension'>Authenticator Extension</a>. Released under the MIT License.</p>
                <p>Google and Google Drive are trademarks of Google LLC.</p>
                <p><a target='_blank' href='https://code.google.com/p/crypto-js/'>crypto-js</a> Copyright Jeff Mott. Licensed under the BSD License.</p>
                <p><a target='_blank' href='http://www.droidfonts.com/'>Droid Sans Mono</a> Copyright Steve Matteson. Licensed under the Apache License.</p>
                <p><a target='_blank' href='http://fontawesome.io'>Font Awesome</a> Copyright Dave Gandy. Licensed under the SIL OFL License 1.1.</p>
                <p><a target='_blank' href='https://github.com/jprichardson/node-fs-extra'>fs-extra</a> Copyright JP Richardson. Licensed under the MIT License.</p>
                <p><a target='_blank' href='https://github.com/LazarSoft/jsqrcode'>jsqrcode</a> Copyright Lazar Laszlo. Licensed under the Apache License.</p>
                <p><a target='_blank' href='http://caligatio.github.com/jsSHA/'>jsSHA</a> Copyright Brian Turek. Licensed under the BSD License.</p>
                <p><a target='_blank' href='http://davidshimjs.github.io/qrcodejs/'>qrcode.js</a> Copyright Shim Sangmin. Licensed under the MIT License.</p>
                <p><a target='_blank' href='http://blog.tinisles.com/2011/10/google-authenticator-one-time-password-algorithm-in-javascript/'>totp.js</a> Copyright Russ Sayers. Licensed under the MIT License.</p>
                <p><a target='_blank' href='https://github.com/google/ts-style'>ts-style</a> Copyright Google Inc. Licensed under the Apache License.</p>
                <p><a target='_blank' href='https://github.com/Microsoft/TypeScript'>TypeScript</a> Copyright Microsoft Corporation. Licensed under the Apache License.</p>
                <p><a target='_blank' href='https://github.com/vuejs/vue'>vue.js</a> Copyright Evan You. Licensed under the MIT License.</p>
                <p><a target='_blank' href='https://github.com/Astray-git/vue-dragula'>vue-dragula</a> Copyright Yichang Liu. Licensed under the MIT License.</p>
                <p><a target='_blank' href='https://github.com/zxing/zxing'>ZXing</a> Copyright ZXing authors. Licensed under the Apache License.</p>
                <p><a target='_blank'  href='https://www.onlinewebfonts.com/icon/205714'>scan.svg</a> made from <a target='_blank' href='https://www.onlinewebfonts.com/icon'>Icon Fonts</a> is licensed by CC BY 3.0</p>
                <p>Thanks to <a target='_blank' href='https://github.com/multiwebinc'>Mike Robinson</a> &lt;3</p>
                <p v-if="!isEdge()"><a target='_blank' href='qrdebug.html'>QR Debugging</a></p>
                <!-- Workaround for https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18438862 -->
                <p v-else><a v-on:click="createWindow('view/qrdebug.html')">QR Debugging</a></p>
            </div>
            <!-- ADD ACCOUNT -->
            <div v-show="info === 'account'">
                <div v-show="!newAccount.show">
                    <div id="add_qr" v-on:click="beginCapture()">{{ i18n.add_qr }}</div>
                    <div id="add_secret" v-on:click="addAccountManually()">{{ i18n.add_secret }}</div>
                </div>
                <div id="secret_box" v-show="newAccount.show">
                    <label for="account_input" id="account_label">{{ i18n.accountName }}</label>
                    <input type="text" id="account_input" v-model="newAccount.account">
                    <label for="secret_input" id="secret_label">{{ i18n.secret }}</label>
                    <input type="text" id="secret_input" v-model="newAccount.secret">
                    <select v-model="newAccount.type">
                        <option v-bind:value="OTPType.totp">{{ i18n.based_on_time }}</option>
                        <option v-bind:value="OTPType.hotp">{{ i18n.based_on_counter }}</option>
                        <option v-bind:value="OTPType.battle">Battle.net</option>
                        <option v-bind:value="OTPType.steam">Steam</option>
                    </select>
                    <div id="add_button" v-on:click="addNewAccount()">{{ i18n.ok }}</div>
                </div>
            </div>
            <!-- SECURITY -->
            <div id="security" v-show="info === 'security'">
                <div id="security_warning">{{ i18n.security_warning }}</div>
                <label for="security_new_phrase" id="security_new_phrase_label">{{ i18n.phrase }}</label>
                <input id="security_new_phrase" type="password" v-model="newPassphrase.phrase">
                <label for="security_confirm_phrase" id="security_confirm_phrase_label">{{ i18n.confirm_phrase }}</label>
                <input id="security_confirm_phrase" type="password" v-model="newPassphrase.confirm" v-on:keyup.enter="changePassphrase()">
                <div id="security_save" v-on:click="changePassphrase()">{{ i18n.ok }}</div>
                <div id="security_remove" v-on:click="removePassphrase()">{{ i18n.remove }}</div>
            </div>
            <!-- PASSPHRASE -->
            <div id="passphrase" v-show="info === 'passphrase'">
                <div id="passphrase_info">{{ i18n.passphrase_info }}</div>
                <label for="phrase" id="passphrase_phrase_label"></label>
                <input id="phrase" type="password" v-model="passphrase" v-on:keyup.enter="applyPassphrase()" autofocus>
                <div id="passphrase_ok" v-on:click="applyPassphrase()">{{ i18n.ok }}</div>
            </div>
            <!-- EXPORT -->
            <div v-show="info === 'export'">
                <div id="export_info" v-if="!encryption.getEncryptionStatus()">{{ i18n.export_info }}</div>
                <a id="download_backup" v-on:click="showEdgeBugWarning()" v-if="isEdge()">{{ i18n.download_backup }}</a>
                <a download="authenticator.json" v-bind:href="exportFile" id="download_backup" target="_blank" v-else>{{ i18n.download_backup }}</a>
                <a download="authenticator.json" v-bind:href="exportEncryptedFile" v-if="encryption.getEncryptionStatus()" id="download_backup" target="_blank">{{ i18n.download_enc_backup }}</a>
                <a id="import_backup" href="import.html" target="_blank" v-if="!isEdge()">{{ i18n.import_backup }}</a>
                <!-- Workaround for https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18438862 -->
                <a id="import_backup" v-on:click="createWindow('view/import.html')" v-else>{{ i18n.import_backup }}</a>
            </div>
            <!-- DROPBOX -->
            <div v-show="info === 'dropbox'">
                <div id="dropbox_box">
                    <div id="dropbox_risk" v-if="dropboxEncrypted !== 'true' || !encryption.getEncryptionStatus()">{{ i18n.dropbox_risk }}</div>
                    <div v-if="encryption.getEncryptionStatus() && dropboxToken">
                        <label for="dropbox_encryption" id="dropbox_encryption_label">{{ i18n.encrypted }}</label>
                        <select id="dropbox_encryption" v-model="dropboxEncrypted" v-on:change="backupUpdateEncryption('dropbox')">
                            <option value="true">{{ i18n.yes }}</option>
                            <option value="false">{{ i18n.no }}</option>
                        </select>
                    </div>
                    <div id="dropbox_logout" v-if="dropboxToken" v-on:click="backupLogout('dropbox')">{{ i18n.log_out }}</div>
                    <div id="dropbox_get_code" v-else v-on:click="getBackupToken('dropbox')">{{ i18n.sign_in }}</div>
                    <div id="dropbox_logout" v-if="dropboxToken" v-on:click="backupUpload('dropbox')">{{ i18n.manual_dropbox }}</div>
                </div>
            </div>
            <!-- DRIVE -->
            <div v-show="info === 'drive'">
                <div id="dropbox_box">
                    <div id="dropbox_risk" v-if="driveEncrypted !== 'true' || !encryption.getEncryptionStatus()">{{ i18n.dropbox_risk }}</div>
                    <div v-if="encryption.getEncryptionStatus() && driveToken">
                        <label for="dropbox_encryption" id="dropbox_encryption_label">{{ i18n.encrypted }}</label>
                        <select id="dropbox_encryption" v-model="driveEncrypted" v-on:change="backupUpdateEncryption('drive')">
                            <option value="true">{{ i18n.yes }}</option>
                            <option value="false">{{ i18n.no }}</option>
                        </select>
                    </div>
                    <div id="dropbox_logout" v-if="driveToken" v-on:click="backupLogout('drive')">{{ i18n.log_out }}</div>
                    <div id="dropbox_get_code" v-else v-on:click="getBackupToken('drive')">{{ i18n.sign_in }}</div>
                    <div id="dropbox_logout" v-if="driveToken" v-on:click="backupUpload('drive')">{{ i18n.manual_dropbox }}</div>
                </div>
            </div>
            <!-- STORAGE & SYNC SETTINGS -->
            <div v-show="info === 'storage'">
                <!-- Storage Settings -->
                <div id="storage_location_info">{{ i18n.storage_location_info }}</div>
                <label for="storage_location" id="storage_location_label">{{ i18n.storage_location }}</label>
                <select id="storage_location" v-model="newStorageLocation" v-on:change="migrateStorage()">
                    <option value="sync">sync</option>
                    <option value="local">local</option>
                </select>
                <!-- 3rd Party Backup Services -->
                <div id="storage_sync_info">{{ i18n.storage_sync_info }}</div>
                <p></p>
                <div id="dropbox_menu" v-on:click="showInfo('drive')">Google Drive</div>
                <div id="dropbox_menu" v-on:click="showInfo('dropbox')">Dropbox</div>
            </div>
            <!-- POPUP PAGE SETTINGS -->
            <div v-show="info === 'resize'">
                <div>
                    <label for="resize_list" id="resize_list_label">{{ i18n.scale }}</label>
                    <select id="resize_list" v-model="zoom" v-on:change="saveZoom()">
                        <option value="125">125%</option>
                        <option value="100">100%</option>
                        <option value="90">90%</option>
                        <option value="80">80%</option>
                        <option value="67">67%</option>
                        <option value="57">57%</option>
                        <option value="50">50%</option>
                        <option value="40">40%</option>
                        <option value="33">33%</option>
                        <option value="25">25%</option>
                        <option value="20">20%</option>
                    </select>
                </div>
                <div>
                    <label for="use_autofill" id="use_autofill_label">{{ i18n.use_autofill }}</label>
                    <input id="use_autofill" type="checkbox" v-model="useAutofill" v-on:change="saveAutofill()">
                </div>
                <div>
                    <label for="use_high_contrast" id="use_high_contrast_label">{{ i18n.use_high_contrast }}</label>
                    <input id="use_high_contrast" type="checkbox" v-model="useHighContrast" v-on:change="saveHighContrast()">
                </div>
                <div v-if="isChrome()">
                    <label for="enable_tts" id="enable_tts_label">Enable TTS</label>
                    <input id="enable_tts" type="checkbox" v-model="enableTTS" v-on:change="setTTSEnable()">
                </div>
                <div id="popout" v-on:click="popOut()">{{ i18n.popout }}</div>
            </div>
        </div>
    </div>

    <!-- MESSAGE -->
    <div id="message" v-show="message.length && messageIdle">
        <div id="message_content">{{ message.length ? message[0] : '' }}</div>
        <div id="message_close" v-on:click="closeAlert()">{{ i18n.ok }}</div>
    </div>

    <!-- CONFRIM -->
    <div id="confirm" v-show="confirmMessage !== ''">
        <div id="confirm_content">{{ confirmMessage }}</div>
        <div class="buttons">
            <div id="confirm_ok" v-on:click="confirmOK()">{{ i18n.yes }}</div>
            <div id="confirm_cancel" v-on:click="confirmCancel()">{{ i18n.no }}</div>
        </div>
    </div>

    <!-- NOTIFICATITON -->
    <div id="notification" v-bind:class="{'fadein': class.notificationFadein, 'fadeout': class.notificationFadeout}">{{ notification }}</div>

    <!-- QR -->
    <div id="qr" v-bind:class="{'qrfadein': class.qrfadein, 'qrfadeout': class.qrfadeout}" v-bind:style="{'background-image': qr}" v-on:click="hideQr()"></div>

    <!-- OVERLAY -->
    <div id="overlay" v-show="message.length && messageIdle || confirmMessage !== ''"></div>

    <!-- CLIPBOARD -->
    <input type="text" id="codeClipboard" />
</div>
<script src="../build/ui/backup.js"></script>
<script src="../build/ui/add-account.js"></script>
<script src="../build/ui/class.js"></script>
<script src="../build/ui/entry.js"></script>
<script src="../build/ui/i18n.js"></script>
<script src="../build/ui/info.js"></script>
<script src="../build/ui/menu.js"></script>
<script src="../build/ui/message.js"></script>
<script src="../build/ui/passphrase.js"></script>
<script src="../build/ui/qr.js"></script>
<script src="../build/ui/ui.js"></script>
<script src="../build/popup.js"></script>
</body>
</html>
